
header
{
    color: gray;
    font-size: 1.5em;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
}
strong
{
    text-decoration:underline burlywood;
    color: orange;
}
span
{
    color: orange;
}
.photo img
{
    width: 200px;
    height: 200px;
    border:3px solid orange;
    box-shadow:0px 0px 10px orange;
    border-radius: 50%;
}
.contact
{
    padding: 0px;
    margin: auto;
    width: 100%;
}
.prez
{
     
    margin: auto;
    flex-grow: 1;
    
    
}
.interet
{
    padding: 0px;
    margin-left: auto;
}
h3
{
    color: black;
    border: 1px teal;
    background: teal;
    
}
h2
{
    border: 2px bisque unset;
    box-shadow: 6px 6px 6px blanchedalmond;
}
aside
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 19%;
    border: 2px solid black;
    min-width: 230px;
    text-align: center;
    background-color: orange;
    

}
section
{
    
    justify-content: center;
    vertical-align: top;
    margin-right: 2%;
}
main
{
    display: inline-block;
    border: 2px solid black;
    width: 60%;
    padding-left: 43px;
    top: 15px;
}
body
{
    display: flex;
    width: 100%;
    margin: auto;
}
.test::before
{
    content: "\f192";
    position: relative;
    left: -20px;
    font-family: "Font Awesome 5 Free":
        
}
.recom-flex
{
    display:inline-flex;
    justify-content: space-around;
    vertical-align: auto;
    align-items: flex-end;
    
}
article
{
    width: 100%;
}
@media all and (max-width: 992px)
{
    body 
    {
        width: 98%;
        margin: auto;
        font-size: 13px;
        font-family: "Orbitron";
    }
    main 
    {
        display:flex;
        flex-direction: column;
        width: 68%;
        justify-content: space-around;
        padding-left: 2%;

    }
    section 
    {
        display: block;
        width: 100%;
        margin-bottom: 2%;
    }
    aside
    {
        display:flex;
        flex-direction: column;
        width: 35%;
        justify-content: space-around;
    }
}





